node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# asset design files
*.psd

# web build is checked in as well for Digital Ocean deployment
# web-build/

# package-lock.json

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*


# API keys 
.env

# compiled apk files
build/

# test coverage
coverage/